#mainNav {
    background-color: #484a4be8;
}
#tabMatBang.tab-content {
    background-color: #dededa;
    background-repeat: repeat, repeat;
    background-image: url("../img/sample/bg-public.jpg");
}
#tabMatBang{
    padding: 0px 15px;
}
#tabMatBang .form-control{
    background-color: #f3f3f3bf;
}
#tabMatBang li.list-group-item {
    background-color: #f3f3f3bf;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #22252a;
    background-color: #bbbfc0;
    border-color: #bbbfc0;
}

.carousel-item img{
    width: auto;
}
#slideNhaMau .carousel-item img{
    height: 60vh;
}
@media (min-width: 769px) {
    .carousel-item img{
        height: 100vh;
   }
}
.hotline-top{
    display: none;
}
@media (max-width: 768px) {
    section h2.section-heading {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .carousel-item img{
        height: 70vh;
   }
   #slideNhaMau .carousel-item img{
    height: 40vh;
}
   .hotline-top{
       display: block
   }
   /* HOTLINE */
   #contact-button-phone{
       display: none;
   }
   /* Form lien he */
   #contact-button {
    width: 120px!important;
    padding: 10px;
   }
}
@media (max-width: 600px) {
    .carousel-item img{
        height: 50vh;
   }
}
/*header.masthead {
    background-image: url(../img/sample/4.png);
}
*/
body {
    /* color: #1d2942; */
    font-family: 'Muli', sans-serif;
}
.navbar.navbar-shrink .navbar-brand img.img-responsive{
    height: 45px;
    animation: zoomout 500ms ease-in-out forwards;
}
.navbar .navbar-brand img.img-responsive{
    height: 70px;
    animation: zoomin 500ms ease-in-out forwards;
}
@keyframes zoomin {
    from {
        transform: scale(0.8);
   }
    to {
        transform: scale(1);
   }
}
@keyframes zoomout {
    from {
        transform: scale(1.2);
   }
    to {
        transform: scale(1);
   }
}
@media (max-width: 767px) {
    .navbar .navbar-brand img.img-responsive{
        height: 50px;
   }
}
@media (max-width: 1023px) {
   /*TB NHO*/
   /* .navbar-shrink .pop-fixed, .pop-fixed{
        position: fixed;
        right: 0;
        bottom: 20px;
        padding: 9px;
        background: #22252a;
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        font-size: 15px;
   }
    */
    .navbar-shrink .pop-fixed-left{
        position: fixed;
        left: 0;
        bottom: 20px;
        padding: 9px;
        background: #22252a;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        font-size: 15px;
   }
}
@media (min-width: 1024px) {
   /*TB LON*/
    .navbar-shrink .pop-fixed{
        position: fixed;
        right: 0;
        bottom: 100px;
        padding: 20px;
        background: #22252a;
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        font-size: 20px;
   }
    .pop-fixed-left{
        position: fixed;
        left: 0;
        bottom: 100px;
        padding: 20px;
        background: #22252a;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        font-size: 20px;
   }
}
#mainSlide{
    max-width: 100%;
    padding: 0;
}
#mainNav .navbar-toggler {
    width: 50px;
}
.pop-fixed:hover{
    text-decoration: none;
}
section {
    padding: 20px 0;
}
footer {
    padding: 20px 0;
    text-align: center;
}
#doitac .img-fluid{
    max-height: 70px;
    max-width: 100%;
}
header.masthead {
    background-image: url(../img/sample/phongngu.jpeg);
}
@media (min-width: 992px){
    #mainNav {
        background-color: #484a4be8;
   }
}
.hotline-pop-title{
    font-size: 12px;
    color: white;
}
.portfolio-modal .modal-content {
    padding: 20px 0;
}
.hotline-logo{
    padding: 5px 30px;
    background-color: red;
    color: yellow;
    font-size: 23px;
    border-radius: 10px;
    border: 4px solid #bf0203;
}
.hotline-logo a{
    color: yellow;
}
#modalThongBao .carousel-item img{
    height: 350px;
}
@media (max-width: 736px){
    #modalThongBao h3{
        font-size: 12.5px;
   }
    #modalThongBao a{
        font-size: 13px;
   }
    #modalThongBao .carousel-item img{
        height: 200px;
   }
    .hotline-logo{
        padding: 5px 10px;
   }
}
/* Zoom effect - start */
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
   }
    to {
        -webkit-transform: scale(1.2, 1.2);
   }
}
@keyframes zoom {
    from {
        transform: scale(1, 1);
   }
    to {
        transform: scale(1.2, 1.2);
   }
}
.carousel-fade .carousel-inner .carousel-item > img {
    -webkit-animation: zoom 18s;
    animation: zoom 18s;
}
/* Zoom effect - end */
/*Slide Fade effect - start*/
.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.carousel-item-left, .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .carousel-item-next.carousel-item-left, .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-next, .carousel-fade .carousel-inner > .carousel-item.active.carousel-item-right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-prev, .carousel-fade .carousel-inner > .carousel-item.active.carousel-item-left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
    .carousel-fade .carousel-inner > .carousel-item.carousel-item-next.carousel-item-left, .carousel-fade .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right, .carousel-fade .carousel-inner > .carousel-item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
}
.carousel-caption {
    text-shadow: 0 1px 4px rgb(29, 41, 66);
    font-size:16px 
}
.carousel-caption h3 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}
/*Slide Fade effect - start*/
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 15px;
    text-transform: none;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.footer-hotline{
    color: #22252a!important;
    font-size: 150%;
}
.bg-light {
    background-color: white!important;
}
.carousel-caption {
    text-shadow: 0 1px 4px rgb(29, 41, 66);
    font-size: 16px;
    background-color: #1d1f206b;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 15px 20px;
    text-align: justify;
}
.carousel-caption p:last-child {
    margin-bottom: 0;
}
/* Contact form - Start */
#contactform {
    width: 260px;
    left: -265px;
   /* height: 630px;
    */
    margin: 25px 0;
    position: fixed;
    bottom: 0;
    border-radius: 0 15px 0 0;
   /* box-shadow: 0 0 12px 0 #333;
    */
}
#close-contactform {
    position: absolute;
    right: 0;
}
#close-contactform button {
    padding: 5px;
    line-height: 5px;
    background: transparent;
    color: #ababab;
    cursor: pointer;
}
#close-contactform button:hover {
    color: #fed136;
}
#contact-button {
    width: 150px;
    padding: 15px 10px;
    cursor: pointer;
    margin-left: 260px;
    bottom: -5px;
    color: white;
    border-radius: 0 15px 15px 0;
    position: absolute;
    font-size: 15px;
}
#contact-button-phone {
    width: 150px;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: 260px;
    bottom: 53px;
    font-size: 15px;
    color: white;
    border-radius: 0 15px 15px 0;
    position: absolute;
}
#contactform, #contact-button, #contact-button-phone {
    background-color: #1D1F20;
    border: 5px solid #666666;
    border-left: none;
    z-index: 100;
}
.rotated-text {
    display: inline-block;
    white-space: nowrap;
   /* this is for shity "non IE" browsers that dosn't support writing-mode */
    -webkit-transform: translate(1.1em, 0) rotate(90deg);
    -moz-transform: translate(1.1em, 0) rotate(90deg);
    -o-transform: translate(1.1em, 0) rotate(90deg);
    transform: translate(1.1em, 0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;

   /* IE9+ */
    -ms-transform: none;
    -ms-transform-origin: none;
   /* IE8+ */
    -ms-writing-mode: tb-rl;
   /* IE7 and below */
    writing-mode: tb-rl;
}
.rotated-text:before {
    content: "";
    float: left;
    margin-top: 100%;
}
#contactform form {
    width: 100%;
    padding: 20px;
}
/* Contact form - End */

.control-label{
    margin-top: 5px;
}

.carousel-ad .pop{
    z-index: 1;
    width: 25%;
    height: auto;
    position: absolute;
    top: 127px;
    right: 20px;
    min-width: 180px;
}